VITE_API_BASE_URL=http://localhost:5000
VITE_CONTRACT_ADDRESS=0xB64A67Ce7414F583c8159E16123D278b25AfcF2D
VITE_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/-BVsdt89gLHO40LXw0TSn
SUPABASE_PUBLISHABLE_KEY=sb_publishable_nxKinrCOhFpfEuG434-aDw_-y8xCD53
