VITE_API_BASE_URL=http://localhost:5000
VITE_CONTRACT_ADDRESS=0xf8e81D47203A594245E36C48e151709F0C19fBe8
VITE_SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/-BVsdt89gLHO40LXw0TSn
SUPABASE_PUBLISHABLE_KEY=sb_publishable_nxKinrCOhFpfEuG434-aDw_-y8xCD53
