# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env
.env.local
.env.development
.env.production
backend/.env
frontend/.env

# Build outputs
build/
dist/
out/
frontend/build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Hardhat / Smart Contracts
cache/
artifacts/
typechain/
typechain-types/
smart-contracts/artifacts/
smart-contracts/cache/
smart-contracts/node_modules/

# Database
*.sqlite
*.db

# Misc
coverage/
.cache/

landing-page/carbonunity-frames